<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="/assets/style.css" type="text/css" />
    <link rel="stylesheet" href="/assets/openid.css" type="text/css" />
    <script type="text/javascript" src="/assets/jquery.js"></script>
    <script type="text/javascript" src="/assets/openid-jquery.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            openid.init('openid_identifier');
        });
    </script>
</head>
<body>
    <div align="center" class="document" style="font-size: 80%;">
      <div class="related">
        <ul> 
          <li class="right" style="margin-right: 10px">Welcome to JSONBOT</i></a> |</li>
          <li><a href="http://jsonbot.org/index.html"
          onclick='window.open("http://jsonbot.org/index.html"); return false'><b>DOCS</b></a></li>
          <li>-</li>
          <li><a href="" title="console" onclick='doconsole(); return false;'><b>console</b></a></li>
          <li>-</li>
          <li><a href="/demo" title="demo"><b>demo</b></a></li>
        </ul>
      </div> 
    <div class="footer" align="center" id="topper_div"></div><br>
    <div class="body" align="center"><h1><b>{{ appname }}</b></h1></div>
    <div class="body" align="center" style="font-size: 100%;">
        <form action="/_ah/login_required" method="post" id="openid_form">
	    <input type="hidden" name="cont" value="continue" />
	    <fieldset>
    		<legend>Sign-in or Create New Account</legend>
    		<div id="openid_choice" size="150%">
	    		<p>Please click your account provider:</p>
                        <div id="openid_btns"></div>
			<div id="openid_input_area">
				<input id="openid_identifier" name="openid" type="text" value="" />
				<input id="openid_submit" type="submit" value="Sign-In"/>
			</div>
                </div>
	    </fieldset>
        </form>
    </div>
</body>
</html>
