[Unit]
Description=Reaktor for user %i
After=network.target nss-lookup.target

[Service]
Type=forking
#TODO - make reaktor path variable
User=%i
ExecStart=/krebs/painload/Reaktor/index
Restart=always

[Install]
WantedBy=multi-user.target
