[submodule "Reaktor/repos/gxfr"]
	path = Reaktor/repos/gxfr
	url = https://github.com/makefu/gxfr.git
[submodule "Reaktor/repos/dnsrecon"]
	path = Reaktor/repos/dnsrecon
	url = https://github.com/makefu/dnsrecon.git
[submodule "Reaktor/repos/whatweb"]
	path = Reaktor/repos/whatweb
	url = https://github.com/urbanadventurer/WhatWeb.git
[submodule "Reaktor/repos/view-website"]
	path = Reaktor/repos/view-website
	url = https://github.com/makefu/view-website.git
[submodule "minikrebs"]
	path = Cancer/minikrebs
	url = https://github.com/krebscode/minikrebs.git
[submodule "web"]
	path = web
	url = https://github.com/krebscode/krebscode.github.com
[submodule "sites/paste.retiolum/bump"]
	path = sites/paste.retiolum/bump
	url = https://github.com/makefu/bump.git
[submodule "sites/mediengewitter.krebsco.de/magnets/magnets"]
	path = sites/mediengewitter.krebsco.de/magnets/magnets
	url = https://github.com/makefu/magnets.git
[submodule "sites/mediengewitter.krebsco.de/mediengewitter/mediengewitter"]
	path = sites/mediengewitter.krebsco.de/mediengewitter/mediengewitter
	url = https://github.com/makefu/mediengewitter.git
