
# Linux kernel module
modules.order
Module.symvers
.built-in.o.cmd
*.ko.cmd
*.o.cmd
.tmp_versions/
*.ko
*.mod.c

a.out
*.pyc
*.o
*.a
.svn/
/god/Reaktor/tmp/
/bin/
/node/src
/node/out
/ovh/soapi/src
/ovh/soapi/SOAPpy
/Reaktor/IRC/irclib.py
/Reaktor/public_commands/*
