[Unit]
Description=Graphite Web
After=network.target

[Service]
Type=simple
User=graphite
Group=graphite
RemainAfterExit=yes
Environment=PYTHONPATH=/opt/graphite/webapp
ExecStart=/usr/bin/django-admin.py runserver 0.0.0.0:8080 --settings=graphite.settings

[Install]
WantedBy=multi-user.target
